.place-info {
	margin-top: 65px;
	&__wrap {
		padding: 20px 0 50px 0;
	}

	&__row {
		display: grid;
		grid-template-columns: 0.654fr 1fr;
		gap: 95px;
	}

	&__column {
	}

	&__group-one {
		margin-bottom: 30px;
	}

	&__image {
		margin-bottom: 30px;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__found {
		display: flex;
	}

	&__found-name {
		margin-right: 20px;
		font-size: 20px;
		line-height: 140%;
		color: #5a2f28;
	}

	&__found-value {
		font-size: 20px;
		line-height: 140%;
		color: #444444;
	}

	&__group-two {
		margin-bottom: 30px;
	}

	&__contact {
	}

	&__group-three {
	}

	&__director {
	}
}

.contact-place-info {
	&__title {
		margin-bottom: 30px;
	}

	&__list {
		padding: 30px 0;
		border-top: 2px solid rgba(0, 0, 0, 0.2);
		border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	}

	&__item {
		display: flex;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__item-name {
		margin-right: 20px;
		font-size: 20px;
		line-height: 140%;
		color: #5a2f28;
	}

	&__item-value {
		font-size: 20px;
		line-height: 140%;
		color: #444444;
		& a {
			color: inherit;
			transition: all 0.3s ease;
			&:hover {
				color: #000;
			}
		}
	}

	&__social {
		display: flex;
		padding: 35px 0;
		border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	}

	&__social-name {
		margin-right: 20px;
		font-size: 20px;
		line-height: 140%;
		color: #5a2f28;
	}

	&__social-list {
	}
}

.director-place-info {
	&__title {
		margin-bottom: 30px;
	}

	&__wrap {
		display: flex;
	}

	&__image {
		margin-right: 20px;
		& img {
			min-width: 200px;
			min-height: 180px;
			object-fit: cover;
		}
	}

	&__group {
	}

	&__name {
		margin-bottom: 20px;
		font-size: 24px;
		line-height: 34px;
		color: #000000;
	}

	&__contact-list {
	}

	&__contact-item {
		display: flex;
		flex-wrap: wrap;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__contact-item-name {
		margin-right: 20px;
		font-size: 18px;
		line-height: 140%;
		color: #5a2f28;
		white-space: nowrap;
	}

	&__contact-item-value {
		font-size: 18px;
		line-height: 140%;
		color: #444444;
		white-space: nowrap;
		& a {
			color: inherit;
			transition: all 0.3s ease;
			&:hover {
				color: #000;
			}
		}
	}
}

.place-info {
	&__tab-container {
	}
}

.tab-place {
	&__control {
		margin-bottom: 30px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 10px;
		background: #f9f9f9;
	}

	&__button {
		display: block;
		padding: 22px 20px;
		text-align: center;
		font-size: 16px;
		line-height: 16px;
		color: #797979;
		transition: all 0.3s ease;
		border-radius: 4px;
		&.active {
			color: #fff;
			background: #5a2f28;
		}
		&:hover {
			color: #fff;
			background: #5a2f28;
		}
	}

	&__content {
	}

	&__item {
		opacity: 0;
		visibility: hidden;
		transform: translateX(300px);
		transition: all 0.3s ease;

		display: none;
		&.active {
			opacity: 1;
			visibility: visible;
			transform: translateX(0px);
		}
	}

	&__person {
	}
}

.place-person {
	&__all {
		margin-bottom: 30px;
		font-size: 26px;
		line-height: 120%;
		color: #000000;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 37px;
		row-gap: 20px;
	}

	&__item {
		font-size: 12px;
		line-height: 12px;
		color: rgba(0, 0, 0, 0.5);
	}
}

.place-events {
	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 82px;
		row-gap: 50px;
	}

	&__item {
		&.--hidden {
			display: none;
		}
		& .card-page-news__place {
			padding: 15px;
		}

		& .card-page-news__group {
			padding: 20px 20px 25px 20px;
		}

		& .card-page-news__date {
			margin-bottom: 10px;
		}

		& .card-page-news__name {
			font-size: 20px;
			padding-bottom: 10px;
			margin-bottom: 10px;
		}

		& .card-page-news__text {
			margin-bottom: 0;
		}
	}

	&__wrap-button {
		display: none;
		&.--show {
			display: flex;
		}
		margin-top: 50px;
		justify-content: center;
	}

	&__all {
		cursor: pointer;
		max-width: 230px;
	}
}

@media (max-width: 1470px) {
	.place-info {
		&__found-name {
			@include adaptiv-font(20, 14);
		}

		&__found-value {
			@include adaptiv-font(20, 14);
		}
	}

	.contact-place-info {
		&__item-name {
			@include adaptiv-font(20, 14);
		}

		&__item-value {
			@include adaptiv-font(20, 14);
		}

		&__social-name {
			@include adaptiv-font(20, 14);
		}
	}

	.director-place-info {
		&__name {
			@include adaptiv-font(24, 16);
		}

		&__contact-item-name {
			@include adaptiv-font(18, 14);
		}

		&__contact-item-value {
			@include adaptiv-font(18, 14);
		}
	}

	.place-events {
		&__item {
			& .card-page-news__name {
				@include adaptiv-font(20, 14);
			}

			& .card-page-news__date {
				@include adaptiv-font(16, 12);
			}

			& .card-page-news__text {
				@include adaptiv-font(14, 12);
			}
		}
	}

	.place-person {
		&__all {
			@include adaptiv-font(26, 18);
		}
	}
}

@media (max-width: 1400px) {
	.place-info {
		&__row {
			gap: 40px;
		}
	}

	.place-events {
		&__list {
			column-gap: 40px;
			row-gap: 40px;
		}
	}
}

@media (max-width: 1170px) {
	.place-info {
		margin-top: 20px;

		&__wrap {
			padding: 10px 0 20px 0;
		}
	}

	.tab-place {
		&__control {
			grid-template-columns: 1fr 1fr;
		}

		&__button {
			padding: 15px 10px;
		}
	}

	.place-person {
		&__list {
			grid-template-columns: 1fr 1fr;
			column-gap: 15px;
		}
	}

	.place-events {
		&__list {
			gap: 10px;
		}

		&__item {
			& .card-page-news__group {
				padding: 10px;
			}

			& .card-page-news__place {
				padding: 10px;
				font-size: 12px;
			}
		}

		&__wrap-button {
			margin-top: 30px;
		}
	}
}

@media (max-width: 900px) {
	.place-info {
		&__row {
			grid-template-columns: 1fr;
		}
	}

	.contact-place-info {
		&__title {
			margin-bottom: 15px;
		}

		&__list {
			padding: 15px 0;
		}

		&__social {
			padding: 15px 0;
		}
	}
}

@media (max-width: 768px) {
	.director-place-info {
		&__wrap {
			flex-direction: column;
		}

		&__image {
			margin-right: 0;
			margin-bottom: 20px;
		}

		&__name {
			margin-bottom: 10px;
		}
	}

	.tab-place {
		&__button {
			font-size: 14px;
		}
	}
}

@media (max-width: 500px) {
	.place-events {
		&__list {
			grid-template-columns: 1fr;
		}
	}

	.place-person {
		&__list {
			column-gap: 10px;
		}
	}
}
