.page-news {
	margin-top: 40px;
	&__wrap {
		padding: 25px 0 50px 0;
	}

	&__category {
		margin-bottom: 60px;
	}

	&__category-list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	&__category-item {
		margin-bottom: 20px;
		&:not(:last-child) {
			margin-right: 40px;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 40px;
		margin-bottom: 30px;
	}

	&__item {
	}

	&__pagination {
		display: flex;
		justify-content: center;
	}
}

.news-category {
	display: inline-block;
	padding: 20px 40px;
	font-size: 14px;
	line-height: 140%;
	color: #5a2f28;
	background: #f9f9f9;
	border-radius: 4px;
	transition: all 0.3s ease;
	&:hover {
		background: #5a2f28;
		color: #fff;
	}
	&.current {
		background: #5a2f28;
		color: #fff;
	}
}

.card-page-news {
	transition: all 0.3s ease;
	&__image {
		display: block;
		position: relative;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__place {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 25px 50px;
		font-size: 18px;
		line-height: 18px;
		text-align: center;
		color: #ffffff;
		background: #5a2f28;
	}

	&__group {
		padding: 20px 30px 30px 30px;
	}

	&__category {
		font-size: 16px;
		line-height: 16px;
		color: rgba(0, 0, 0, 0.5);
		margin-bottom: 20px;
	}

	&__name {
		display: block;
		font-size: 26px;
		line-height: 120%;
		color: #000000;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	}

	&__text {
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 140%;
		color: #444444;
	}

	&__date {
		font-size: 16px;
		line-height: 16px;
		color: rgba(0, 0, 0, 0.75);
	}

	&:hover {
		background: #ffffff;
		box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.15);
	}
}

@media (max-width: 1470px) {
	.card-page-news {
		&__name {
			@include adaptiv-font(26, 16);
		}
	}
}

@media (max-width: 1170px) {
	.page-news {
		margin-top: 15px;
		&__wrap {
			padding: 20px 0 10px 0;
		}

		&__category {
			margin-bottom: 20px;
		}

		&__list {
			gap: 20px;
			margin-bottom: 10px;
		}
	}

	.news-category {
		padding: 10px 20px;
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	.card-page-news {
		&__place {
			padding: 15px 20px;
			font-size: 16px;
		}

		&__group {
			padding: 15px;
		}

		&__name {
			padding-bottom: 10px;
			margin-bottom: 10px;
		}
	}
}

@media (max-width: 900px) {
	.page-news {
		&__list {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media (max-width: 768px) {
	.card-page-news {
		&__place {
			padding: 10px 10px;
		}
	}
}

@media (max-width: 500px) {
	.page-news {
		&__list {
			grid-template-columns: 1fr;
		}
	}
}
