.registration {
	&__wrap {
		padding: 20px 0 50px 0;
	}

	&__row {
		display: grid;
		grid-template-columns: 1fr 0.9fr;
		gap: 50px;
	}

	&__column {
	}

	&__calendar {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 100vw;
			height: 100%;
			background: #f9f9f9;
			transition: all 0.3s ease;
		}

		&:hover {
			box-shadow: none;
			&::before {
				box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
			}
		}

		& .card-calendar__order-palce {
			max-width: 100%;
			margin-right: 0;
		}

		& .card-calendar__group-one {
			position: relative;
			z-index: 2;
		}

		& .card-calendar__group-two {
			position: relative;
			z-index: 2;
		}

		& .card-calendar__mark {
			display: none;
		}
	}

	&__tournament {
	}

	&__form {
	}
}

.order-registration {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&__image {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 275px;

		& img {
			position: relative;
			z-index: 2;
		}

		&::before {
			content: "";
			position: absolute;
			width: 275px;
			height: 275px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			background: #5a2f28;
			z-index: 1;
		}
	}

	&__wrap {
		position: relative;
		padding: 20px 40px 40px 40px;
		&::before {
			content: "";
			position: absolute;
			top: -50%;
			bottom: 0;
			left: 0;
			width: 100vw;
			background: #f9f9f9;
		}
	}

	&__title {
		position: relative;
		margin-bottom: 30px;
		font-weight: bold;
		font-size: 26px;
		line-height: 140%;
		color: #000000;
		z-index: 2;
	}

	&__button {
		position: relative;
		margin-bottom: 10px;
		max-width: 260px;
		font-size: 14px;
		z-index: 2;
	}

	&__info {
		position: relative;
		max-width: 260px;
		font-weight: 300;
		font-size: 9px;
		line-height: 14px;
		text-align: center;
		color: #000000;
		z-index: 2;
		& a {
			color: #5a2f28;
			border-bottom: 1px solid #5a2f28;
			transition: all 0.3s ease;
			&:hover {
				border-color: transparent;
			}
		}
	}
}

.tab-participants {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	height: 100%;
	&__controls {
		display: grid;
		grid-template-columns: 1fr 0.6fr;
		gap: 20px;
		margin-bottom: 50px;
		background: #f9f9f9;
	}

	&__btn {
		position: relative;
		text-align: center;
		transition: all 0.3s ease;
		&.active {
			& .tab-participants__btn-name {
				color: #fff;
				background: #5a2f28;
			}

			& .tab-participants__btn-value {
				color: #fff;
				background: #5a2f28;
			}
		}
		&:hover {
			& .tab-participants__btn-name {
				color: #fff;
				background: #5a2f28;
			}

			& .tab-participants__btn-value {
				color: #fff;
				background: #5a2f28;
			}
		}
	}

	&__btn-name {
		position: relative;
		padding: 20px 10px;
		font-size: 16px;
		line-height: 120%;
		color: #797979;
		border-radius: 4px;
		transition: all 0.3s ease;
		background: #f9f9f9;
	}

	&__btn-value {
		position: absolute;
		top: -25px;
		right: -15px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		font-size: 14px;
		line-height: 120%;
		color: #797979;
		background: #f9f9f9;
		transition: all 0.3s ease;
		z-index: 1;
	}

	&__content {
		flex-grow: 1;
	}

	&__item {
		opacity: 0;
		visibility: hidden;
		transform: translateX(300px);
		transition: all 0.3s ease;
		display: none;
		height: 100%;
		flex-direction: column;
		&.active {
			display: flex !important;
			opacity: 1;
			visibility: visible;
			transform: translateX(0px);
		}
	}

	&__caption {
		margin-bottom: 20px;
		display: grid;
		grid-template-columns: 1fr 0.6fr;
		gap: 20px;
		font-size: 18px;
		line-height: 120%;
		font-weight: bold;
		color: #999999;
	}

	&__list {
		flex-grow: 1;
		max-height: 400px;
	}

	&__item-part {
		display: grid;
		grid-template-columns: 1fr 0.6fr;
		gap: 20px;
		font-size: 18px;
		line-height: 120%;
		color: #5a2f28;

		& span {
			&:last-child {
				padding-right: 30px;
			}
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__winners {
		flex-grow: 1;
		max-height: 400px;
		& p {
			font-size: 16px;
		}

		& ul,
		& ol {
			margin: 15px 0;
			& li {
				font-size: 16px;
				&:not(:last-child) {
					margin-bottom: 10px;
				}
				&::marker {
					color: #5a2f28;
				}
			}
		}

		& ol {
			& li {
				list-style-type: decimal;
				list-style-position: inside;
			}
		}

		& ul {
			& li {
				list-style: inside;
			}
		}

		& h1 {
			margin-bottom: 30px;
		}

		& h2 {
			margin-bottom: 25px;
		}

		& h3 {
			margin-bottom: 20px;
		}

		& h4 {
			margin-bottom: 15px;
		}

		& h5 {
			margin-bottom: 15px;
		}

		& h6 {
			margin-bottom: 15px;
		}
	}
}

.mCS-my-theme.mCSB_inside > .mCSB_container {
	margin-right: 0;
}

.mCS-my-theme .mCSB_dragger_bar {
	height: 28px !important;
	width: 9px !important;
	background-color: #5a2f28 !important;
}

.mCS-my-theme .mCSB_scrollTools .mCSB_dragger {
	height: 28px !important;
}

.mCS-my-theme .mCSB_scrollTools .mCSB_draggerRail {
	width: 5px !important;
	background-color: #efefef !important;
}

@media (max-width: 1470px) {
	.registration {
		&__row {
			gap: 25px;
		}
		& .card-calendar {
			padding: 15px;
		}
	}

	.order-registration {
		&__title {
			@include adaptiv-font(26, 18);
		}
	}

	.tab-participants {
		&__caption {
			@include adaptiv-font(18, 12);
		}

		&__item-part {
			@include adaptiv-font(18, 12);
		}

		&__btn-name {
			font-size: 14px;
		}

		&__winners {
			& p {
				@include adaptiv-font(16, 12);
			}

			& ul,
			& ol {
				& li {
					@include adaptiv-font(16, 12);
				}
			}
		}
	}
}

@media (max-width: 1170px) {
	.registration {
		&__wrap {
			padding: 10px 0 20px 0;
		}

		&__row {
			gap: 45px;
			grid-template-columns: 1fr;
		}

		&__calendar {
		}
	}

	.order-registration {
		&__wrap {
			padding: 15px;
		}

		&__image {
			&::before {
				width: 200px;
				height: 200px;
			}
		}
	}

	.tab-participants {
		padding-top: 0;

		&__controls {
			grid-template-columns: 1fr 1fr;
			margin-bottom: 30px;
		}

		&__caption {
			grid-template-columns: 1fr 0.7fr;
		}

		&__item-part {
			grid-template-columns: 1fr 0.7fr;
		}
	}
}

@media (max-width: 900px) {
	.registration {
		&__row {
			grid-template-columns: 1fr;
		}
	}

	.order-registration {
		align-items: center;
		text-align: center;

		&__wrap {
			&::before {
				width: initial;
				left: -100vw;
				right: -100vw;
			}
		}
	}
}

@media (max-width: 600px) {
	.tab-participants {
		&__controls {
			grid-template-columns: 1fr;
			gap: 40px;
			background: none;
		}

		&__btn-name {
			padding: 15px 10px;
		}

		&__btn-value {
			font-size: 12px;
		}
	}
}

.order-tornament {
	margin: 50px 0 100px 0;
	background: #f9f9f9;
	&__wrap {
		position: relative;
		padding: 60px 45px 0 0;
		margin-top: -310px;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -100vw;
			right: 0;
			height: 100%;
			background: #fff;
		}
	}
	&__form {
		position: relative;

		z-index: 2;
	}
}

.from-registration {
	&__title {
		margin-bottom: 60px;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: start;
		gap: 40px;
	}

	&__wrap-input {
	}

	&__wrap-button {
	}

	&__subtext {
		margin-right: 15px;
		font-size: 12px;
		line-height: 140%;
		color: #999999;
		text-align: center;
		& a {
			color: #5a2f28;
			border-bottom: 1px solid transparent;
			transition: all 0.3s ease;
			&:hover {
				border-color: #5a2f28;
			}
		}
	}

	&__button {
		margin-bottom: 15px;
	}

	&__info-wrap {
		margin-top: -30px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 40px;
	}

	&__info {
		grid-column: span 2;
		font-size: 12px;
		line-height: 140%;
		color: #5a2f28;
	}
}

@media (max-width: 1470px) {
	.order-tornament {
		&__wrap {
			margin-top: -210px;
		}
	}
}

@media (max-width: 1300px) {
	.from-registration {
		&__button {
			padding: 10px;
		}
	}
}

@media (max-width: 1170px) {
	.order-tornament {
		margin: 20px 0 0px 0;
		&__image-back {
			display: none;
		}

		&__wrap {
			margin-top: 0;
			padding: 40px 0;
			&::before {
				content: none;
			}
		}
	}

	.from-registration {
		&__title {
			margin-bottom: 30px;
		}

		&__list {
			grid-template-columns: 1fr 1fr;
			gap: 20px;
		}

		&__info-wrap {
			grid-template-columns: 1fr 1fr;
			gap: 20px;
		}

		&__info {
			grid-column: span 1;
		}
	}
}

@media (max-width: 900px) {
	.from-registration {
		&__button {
			padding: 5px;
		}
	}
}

@media (max-width: 768px) {
	.from-registration {
		&__list {
			grid-template-columns: 1fr;
		}

		&__info-wrap {
			grid-template-columns: 1fr;
			margin-top: 15px;
		}

		&__button {
			padding: 10px;
		}
	}
}
@media (max-width: 500px) {
	.from-registration {
		&__wrap-button {
			flex-direction: column;
			align-items: flex-start;
		}

		&__info {
			margin-right: 0;
			margin-bottom: 15px;
		}
	}
}
