.page-404 {
	&__wrap {
		padding: 100px 0;
	}

	&__row {
		display: grid;
		grid-template-columns: 1fr 0.762fr;
		gap: 60px;
	}

	&__column {
		text-align: center;
	}

	&__image {
	}

	&__title {
		margin-bottom: 60px;
	}

	&__subtitle {
		margin-bottom: 60px;
		font-size: 32px;
		line-height: 120%;
		color: #444444;
	}

	&__back {
		position: relative;
		padding-left: 70px;
		padding-right: 30px;
		max-width: 340px;
		&::before {
			content: "";
			position: absolute;
			top: 53%;
			left: 35px;
			transform: translate(0, -50%);
			width: 22px;
			height: 12px;
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.978 6.372a.625.625 0 010-.884L6.28.184a.625.625 0 11.884.884L2.928 5.305l17.937-.001a.626.626 0 110 1.251H2.928l4.237 4.236a.625.625 0 01-.884.884L.978 6.372z' fill='%23fff'/%3E%3C/svg%3E") no-repeat;
			transition: all 0.3s ease;
		}
		&:hover {
			&::before {
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.978 6.372a.625.625 0 010-.884L6.28.184a.625.625 0 11.884.884L2.928 5.305l17.937-.001a.626.626 0 110 1.251H2.928l4.237 4.236a.625.625 0 01-.884.884L.978 6.372z' fill='%235A2F28'/%3E%3C/svg%3E") no-repeat;
			}
		}
	}
}

@media (max-width: 1470px) {
	.page-404 {
		&__subtitle {
			@include adaptiv-font(32, 20);
		}
	}
}

@media (max-width: 1170px) {
	.page-404 {
		&__wrap {
			padding: 40px 0;
		}

		&__row {
			gap: 20px;
		}

		&__title {
			margin-bottom: 30px;
		}

		&__subtitle {
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 900px) {
	.page-404 {
		&__row {
			grid-template-columns: 1fr;
		}
	}
}
