html {
	&.lock {
		overflow: hidden;
	}
}

body {
	font-family: "Styrene A Web", sans-serif, Arial;
	font-size: 20px;
	line-height: 1.4;
	color: #fff;
	background: #fff;
}

body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
	&__title {
		margin-top: 30px;
	}
}

.container {
	max-width: 1430px;
	margin: 0 auto;
	padding: 0 15px;
}

@media (max-width: 1170px) {
	.main {
		padding-top: 70px;
		&__title {
			margin-top: 15px;
		}
	}
}

@media (max-width: 500px) {
	.main {
		padding-top: 60px;
	}
}

.title-h1,
h1 {
	font-weight: 500;
	font-size: 56px;
	line-height: 1.1;
	color: #000;
}

.title-h2,
h2 {
	font-weight: 500;
	font-size: 52px;
	line-height: 1.1;
	color: #000000;
}

.title-h3,
h3 {
	font-size: 32px;
	line-height: 1.2;
	color: #000000;
}

.title-h4,
h4 {
	font-size: 26px;
	line-height: 120%;
	color: #000000;
}

.slider-arrow {
	position: relative;
	top: initial;
	left: initial;
	right: initial;
	bottom: initial;
	margin: 0;
	width: 60px;
	height: 60px;
	border-radius: 4px;
	background: #5a2f28;
	transition: all 0.3s ease;
	&::after {
		content: none;
	}
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 10px;
		height: 17px;
		background: url("../img/icon-arrow-slider.svg") no-repeat;
	}

	&.--white {
		background: #fffef2;
		&::before {
			filter: invert(1);
		}
	}

	&.--prev {
		&::before {
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}

	&.--next {
	}

	&:not(.--white) {
		&:hover {
			background: #4f2721;
		}
	}
}

@media (max-width: 1170px) {
	.slider-arrow {
		width: 35px;
		height: 35px;
	}
}

.slider-pagination {
	display: flex;
	align-items: center;
	position: static;
	text-align: initial;
	width: initial;
	line-height: 20px;
	color: #000;
	& .pagination-total {
		opacity: 0.5;
	}

	& .pagination-dash {
		opacity: 0.5;
		margin: 0 10px;
		width: 18px;
		height: 2px;
		background: #000;
	}

	&.--white {
		color: #fff;
		& .pagination-dash {
			background: #fff;
		}
	}
}

.slider-pagination.swiper-pagination-lock {
	display: none;
}

@media (max-width: 1400px) {
	.slider-pagination {
		@include adaptiv-font(20, 14);
	}
}

.wrap-input {
	position: relative;
	width: 100%;
	& input,
	& textarea {
		width: 100%;
		height: 100%;
		padding: 15px 25px;
		font-size: 20px;
		line-height: 1.4;
		color: #000000;
		border: 1px solid rgba(0, 0, 0, 0.35);
		border-radius: 4px;
		transition: all 0.3s ease;

		&::-webkit-input-placeholder {
			opacity: 0.35;
		}
		&::-moz-placeholder {
			opacity: 0.35;
		}
		&:-moz-placeholder {
			opacity: 0.35;
		}
		&:-ms-input-placeholder {
			opacity: 0.35;
		}
		&:focus,
		&:active {
			border-color: #5a2f28;
		}
	}

	& textarea {
		resize: none;
		min-height: 180px;
	}

	&.--hint {
		& input {
			padding-left: 65px;
		}

		& .nice-select {
			padding-left: 65px;
		}
	}

	&.errors {
		& input,
		& textarea {
			border-color: #c41616;
		}
	}

	&__hint {
		position: absolute;
		top: 50%;
		left: 25px;
		transform: translate(0, -50%);
		z-index: 10;

		&::before {
			content: "";
			position: absolute;
			top: -15px;
			left: -23px;
			width: 55px;
			height: 58px;
		}

		&:hover {
			& .wrap-input__hint-popup {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__hint-icon {
		cursor: pointer;
		min-width: 25px;
		min-height: 25px;
		max-width: 25px;
		max-height: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background: #f1f1f1;
		color: #000;
	}

	&__hint-popup {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		bottom: calc(100% + 12px);
		left: 50%;
		transform: translate(-50%, 0);
		min-width: 260px;
		padding: 20px;
		font-size: 14px;
		line-height: 140%;
		text-align: center;
		color: #000;
		background: #f9f9f9;
		border-radius: 4px;
		z-index: 3;
		transition: all 0.3s ease;

		&::before {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, 0);
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 10px solid #f9f9f9;
			z-index: 3;
		}

		&.--left {
			left: -10px;
			transform: none;
			&::before {
				left: 0;
				transform: none;
			}
		}

		&.--right {
			left: initial;
			right: -10px;
			transform: none;
			&::before {
				left: initial;
				right: 0;
				transform: none;
			}
		}
	}
}

.form-errors {
	display: block;
	margin: 15px 0;
	font-size: 12px;
	line-height: 140%;
	color: #c41616;
}

@media (max-width: 1300px) {
	.wrap-input {
		& input,
		& textarea {
			font-size: 14px;
		}

		& .nice-select {
			font-size: 14px;
		}
	}
}

@media (max-width: 1170px) {
	.wrap-input__hint {
		&::before {
			top: -13px;
			left: -23px;
			width: 55px;
			height: 50px;
		}
	}
}

@media (max-width: 900px) {
	.wrap-input {
		& input,
		& textarea {
			padding: 10px 15px;
		}

		& textarea {
			min-height: 100px;
		}

		& .nice-select {
			padding: 10px 25px 10px 15px;
		}

		&__hint {
			left: 10px;
			&::before {
				top: -11px;
				left: -10px;
				width: 40px;
				height: 40px;
			}
		}

		&__hint-icon {
			font-size: 12px;
			min-width: 20px;
			min-height: 20px;
			max-width: 20px;
			max-height: 20px;
		}

		&.--hint {
			& input {
				padding-left: 40px;
			}

			& .nice-select {
				padding-left: 40px;
			}
		}
	}
}

p {
	font-size: 20px;
	line-height: 1.4;
	color: #000000;
	margin-bottom: 20px;
}

ul,
li {
	font-size: 20px;
	line-height: 1.4;
	color: #000000;
}

@media (max-width: 1400px) {
	ul,
	li {
		@include adaptiv-font(20, 14);
	}
}

ul.chess-list li {
	position: relative;
	display: flex;
	padding-left: 27px;
	margin-bottom: 15px;
}

ul.chess-list li::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 0px;
	width: 19px;
	height: 19px;
	background: url(../img/list-check.svg) no-repeat 100%, transparent;
}

@media (max-width: 768px) {
	ul.chess-list li::before {
		top: 1px;
	}
}

.main-button {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 15px;
	font-size: 20px;
	line-height: 1.4;
	color: #5a2f28;
	align-items: center;
	background: transparent;
	border-radius: 4px;
	border: 1px solid #5a2f28;
	transition: all 0.3s ease;
	&:hover,
	&:active {
		color: #ffffff;
		background: #5a2f28;
	}

	&.--bg {
		color: #ffffff;
		background: #5a2f28;

		&:hover {
			background: transparent;
			color: #5a2f28;
		}
	}
}

@media (max-width: 768px) {
	.main-button {
		padding: 10px;
		font-size: 14px;
	}
}

@media (max-width: 1400px) {
	.title-h1,
	h1 {
		@include adaptiv-font(56, 24);
	}

	.title-h2,
	h2 {
		@include adaptiv-font(52, 20);
	}

	.title-h3,
	h3 {
		@include adaptiv-font(32, 18);
	}

	.title-h4,
	h4 {
		@include adaptiv-font(26, 16);
	}

	p {
		@include adaptiv-font(20, 14);
	}
}

.breadcrumbs {
	&__wrap {
		padding: 60px 0 15px 0;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		position: relative;
		margin-right: 22px;
		font-size: 14px;
		line-height: 140%;

		& a {
			color: #666666;
			transition: all 0.3s ease;
			&:hover {
				color: #000000;
			}
		}

		& span {
			color: #000000;
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: -12px;
			transform: translate(0, -50%);
			width: 2px;
			height: 2px;
			background: #000;
		}

		&:last-child {
			margin-right: 0;
			&::before {
				content: none;
			}
		}
	}
}

@media (max-width: 768px) {
	.breadcrumbs {
		&__item {
			font-size: 12px;
		}
	}
}

.pagination {
	padding: 20px;
	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 20px;
		}
		& a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 60px;
			height: 60px;
			border-radius: 4px;
			border: 1px solid rgba(90, 47, 40, 0.1);
			font-size: 20px;
			line-height: 140%;
			color: #5a2f28;
			transition: all 0.3s ease;

			&:hover {
				background: #5a2f28;
				border-color: #5a2f28;
				color: #fff;
			}
		}
		&.--prev {
			& a {
				position: relative;
				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(180deg);
					width: 10px;
					height: 17px;
					background: url("../img/icon-arrow-pagination.svg") no-repeat center / contain;
				}
				&:hover {
					&::before {
						filter: grayscale(1) brightness(10);
					}
				}
			}
		}

		&.--number {
		}

		&.current {
			& a {
				background: #5a2f28;
				border-color: #5a2f28;
				color: #fff;
			}
		}

		&.--next {
			& a {
				position: relative;
				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 10px;
					height: 17px;
					background: url("../img/icon-arrow-pagination.svg") no-repeat center / contain;
				}

				&:hover {
					&::before {
						filter: grayscale(1) brightness(10);
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.pagination {
		&__item {
			& a {
				width: 35px;
				height: 35px;
				font-size: 14px;
			}
			&.--next {
				& a {
					&::before {
						width: 8px;
						height: 11px;
					}
				}
			}

			&.--prev {
				& a {
					&::before {
						width: 8px;
						height: 11px;
					}
				}
			}

			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}
