//========================================================ОБНУЛЕНИЕ========================================================

@import "_nullstyle";

//===================================================ПЕРЕМЕННЫЕ========================================================

@import "_variables";

//===================================================ШРИФТЫ========================================================

@import "_fonts";

//===================================================МИКСИНЫ========================================================

@import "_mixin";

//========================================================ОБШИЕ СТИЛИ========================================================

@import "_overall-style.scss";

//========================================================ШАПКА САЙТА========================================================

@import "./syle-component/_header";

@import "./syle-component/_main-menu";

//========================================================ОСНОВНОЙ КОНТЕНТ СТРАНИЦЫ 1========================================================

@import "./style-page/_style-page-index";

@import "./style-page/_style-page-structure";

@import "./style-page/_style-page-document";

@import "./style-page/_style-page-catalog";

@import "./style-page/_style-page-card-product";

@import "./style-page/_style-page-membership";

@import "./style-page/_style-page-rules";

@import "./style-page/_style-page-federation";

@import "./style-page/_style-page-news";

@import "./style-page/_style-page-search-federation";

@import "./style-page/_style-page-news-article";

@import "./style-page/_style-page-place-info";

@import "./style-page/_style-page-calendar";

@import "./style-page/_style-page-registration";

@import "./style-page/_style-page-404";

@import "./popup";

//========================================================ПОДВАЛ САЙТА========================================================

@import "./syle-component/_footer";

//========================================================АНИМАЦИИ========================================================

@import "_animate";

.representative-order {
	margin: 50px 0 100px 0;
	&__image-back {
	}

	&__wrap {
		position: relative;
		padding: 60px 45px 0 0;
		margin-top: -210px;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -100vw;
			right: 0;
			height: 100%;
			background: #fff;
		}
	}

	&__form {
		position: relative;

		z-index: 2;
	}
}

.from-representative-order {
	&__title {
		margin-bottom: 45px;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 50px;
		row-gap: 40px;
		margin-bottom: 50px;
	}

	&__wrap-input {
		&:nth-child(4) {
			grid-row: span 2;
		}

		& textarea {
			min-height: 150px;
		}
	}

	&__group {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 50px;
		align-items: start;
	}

	&__group-file {
		display: flex;
		align-items: center;
	}

	&__add-file {
		display: block;
		margin-right: 30px;
		& input {
			display: none;
		}
	}

	&__add-file-button {
		cursor: pointer;
		position: relative;
		padding: 16px 28px 16px 66px;
		display: inline-block;
		white-space: nowrap;
		font-size: 20px;
		line-height: 140%;
		color: #5a2f28;

		border: 1px solid #5a2f28;
		border-radius: 4px;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 33px;
			transform: translate(0, -50%);
			width: 19px;
			height: 21px;
			background: url("../img/icon-add-file.svg") no-repeat;

			transition: all 0.3s ease;
		}

		&:hover {
			&::before {
				transform: translate(0, -50%) rotate(180deg);
			}
		}
	}

	&__file-text {
		max-width: 340px;
		font-size: 12px;
		line-height: 140%;
		color: #444444;
	}

	&__group-button {
		max-width: 535px;
		margin: 0 auto;
	}

	&__button {
		margin-bottom: 20px;
	}

	&__subtext {
		font-size: 12px;
		line-height: 140%;
		color: #999999;
		& a {
			color: #5a2f28;
			border-bottom: 1px solid rgba(90, 47, 40, 0.1);
			transition: all 0.3s ease;
			&:hover {
				border-color: transparent;
			}
		}
	}
}

@media (max-width: 1300px) {
	.from-representative-order {
		&__wrap-input {
			& textarea {
				min-height: 130px;
			}
		}
	}
}

@media (max-width: 1170px) {
	.representative-order {
		margin: 20px 0 40px 0;
		&__image-back {
			display: none;
		}

		&__wrap {
			margin-top: 0;
			padding: 0;
			&::before {
				content: none;
			}
		}
	}

	.from-representative-order {
		&__list {
			gap: 20px;
			margin-bottom: 30px;
		}

		&__wrap-input {
			& textarea {
				min-height: initial;
			}
		}

		&__title {
			margin-bottom: 30px;
		}

		&__group-radio {
			margin-bottom: 30px;
		}

		&__radio {
			&:first-child {
				margin-right: 20px;
			}
		}

		&__group {
			column-gap: 20px;
		}

		&__group-button {
			max-width: 350px;
		}

		&__group-file {
			flex-direction: column;
			align-items: flex-start;
		}

		&__add-file {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 768px) {
	.from-representative-order {
		&__list {
			grid-template-columns: 1fr;
		}

		&__wrap-input {
			& textarea {
				min-height: 100px;
			}
		}

		&__group {
			grid-template-columns: 1fr;
		}

		&__group-file {
			margin-right: 0;
			margin-bottom: 20px;
			width: 100%;
		}

		&__group-button {
			max-width: 100%;
		}

		&__add-file-button {
			padding: 10px 10px 10px 35px;
			font-size: 14px;
			&::before {
				left: 9px;
			}
		}
	}
}
