<nav class="main-nav">
    <ul class="main-nav__list js-mobile-menu">

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">О федерации</a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Членство в федерации</a>
        </li>

        <li class="main-nav__item hover-item --subcat">
            <a href="#" class="main-nav__link">Игра Таврели</a>

            <ul class="main-nav__submenu show-menu">
                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">История игры</a>
                </li>

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink current">Правила игры</a>
                </li>

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">обучение тренеров</a>
                </li>

                <li class="main-nav__subitem hover-item">
                    <a href="#" class="main-nav__sublink">Мастер-классы</a>
                </li>
            </ul>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Турниры</a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Продукция</a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Новости</a>
        </li>

        <li class="main-nav__item hover-item">
            <a href="#" class="main-nav__link">Контакты</a>
        </li>

    </ul>
</nav>