.header {
	position: relative;
	z-index: 3;
	&__top {
		padding: 20px 0;
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__column {
		&:first-child {
			display: flex;
			align-items: center;
		}

		&:last-child {
		}
	}

	&__logo {
		margin-right: 40px;
		min-width: 130px;
	}

	&__text {
		max-width: 257px;
		line-height: 20px;
		font-size: 14px;
		color: #ffffff;
		opacity: 0.75;
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__item {
		margin-right: 40px;
		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		color: #ffffff;
		transition: all 0.3s ease;
		&.--loc {
			position: relative;
			font-size: 14px;
			padding-left: 27px;
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
				width: 15px;
				height: 17px;
				background: url("../img/icon-location.svg") no-repeat;
			}
		}
	}

	&__bottom {
		margin-top: -1px;
		border-top: 1px solid rgba(255, 254, 242, 0.15);
		border-bottom: 1px solid rgba(255, 254, 242, 0.15);
	}

	&__burger {
		display: none;
	}

	&.--white {
		& .header__text {
			color: #000;
		}

		& .header__link {
			color: #000;
			&.--loc {
				&::before {
					filter: invert(1);
				}
			}
		}

		& .header__bottom {
			border-color: rgba(0, 0, 0, 0.1);
		}
	}
}

.header .header__link {
	&:hover {
		opacity: 0.7;
	}
}

.logo {
	& a {
		display: block;
	}
}

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
}

.hamRotate.is-active {
	transform: rotate(45deg);
}

.hamRotate180.is-active {
	transform: rotate(180deg);
}

.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: #fff;
	stroke-width: 3.5;
	stroke-linecap: round;
}

.ham8 .top {
	stroke-dasharray: 40 160;
}

.ham8 .middle {
	stroke-dasharray: 40 142;
	transform-origin: 50%;
	transition: transform 400ms;
}

.ham8 .bottom {
	stroke-dasharray: 40 85;
	transform-origin: 50%;
	transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.is-active .top {
	stroke-dashoffset: -64px;
}

.ham8.is-active .middle {
	//stroke-dashoffset: -20px;
	transform: rotate(90deg);
}

.ham8.is-active .bottom {
	stroke-dashoffset: -64px;
}

.mm-btn_prev:before {
	border-color: #fff;
}

@media (max-width: 1400px) {
	.header__logo {
		margin-right: 0;
	}

	.header__text {
		display: none;
	}

	.header .header__link {
		@include adaptiv-font(20, 12);
		&.--loc {
			@include adaptiv-font(14, 12);
		}
	}
}

@media (max-width: 1300px) {
	.header__item {
		margin-right: 25px;
	}
}

@media (max-width: 1200px) {
	.header__text {
		display: none;
	}
}

@media (max-width: 1170px) {
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: #5a2f28;
		z-index: 15;

		&.--white {
			background: #fff;
			border-bottom: 1px solid #5a2f28;

			& .line {
				stroke: #000;
			}
		}
	}

	.header__top {
		padding: 10px 0;
	}

	.header__column:last-child {
		display: flex;
		align-items: center;
	}

	.header__burger {
		display: initial;
	}

	.header__logo {
		& img {
			max-height: 50px;
		}
	}

	.header__list {
		margin-right: 15px;
	}

	.header__item {
		&:last-child {
			display: none;
		}
	}
}

@media (max-width: 800px) {
	.header__list {
		display: grid;
		grid-template-columns: auto auto;
		column-gap: 15px;
	}

	.header__item {
		margin-right: 0;
		&:first-child {
			grid-row: 1 / 3;
		}
	}

	.header__link.--loc {
		padding-left: 14px;
		& span {
			display: none;
		}
	}
}

@media (max-width: 500px) {
	.header__logo {
		min-width: 100px;
		& img {
			max-height: 40px;
		}
	}

	.header__item {
		line-height: 100%;
	}

	.ham {
		width: 30px;
		height: 30px;
	}
}

.mm-menu {
	background: #fffef2;
	color: #5a2f28;

	& .footer-contact__list-social {
		justify-content: space-around;
		& a {
			margin-right: 0;
			&:hover,
			&:active {
				& path {
					fill: #fff;
				}
			}
		}
	}

	& .header__link {
		color: #5a2f28 !important;
	}
}

.mm-navbar.mm-navbar_sticky {
	margin-bottom: 25px;
}

.mm-navbar {
	background: #5a2f28;
	& .mm-navbar__title span {
		color: #fff;
	}
}
